@font-face {
  font-family: "Cereal";
  src: url("/fonts/cereal/AirbnbCereal_W_Lt.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Cereal";
  src: url("/fonts/cereal/AirbnbCereal_W_Md.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Cereal";
  src: url("/fonts/cereal/AirbnbCereal_W_Bd.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Cereal";
  src: url("/fonts/cereal/AirbnbCereal_W_XBd.otf");
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cereal', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}